<div class="text">
  <h1>
    <span>H</span>
    <span class="m-left">i</span>
    <span class="m-left">,</span>
    <br />
    <span>I</span>
    <span class="m-left">'</span>
    <span class="m-left">m</span>
    <span class="name">H</span>
    <span class="m-left name">e</span>
    <span class="m-left name">n</span>
    <span class="m-left name">r</span>
    <span class="m-left name">y</span>
    <span class="m-left">,</span>
    <br />
    <span>W</span>
    <span class="m-left">e</span>
    <span class="m-left">b</span>
    <span>D</span>
    <span class="m-left">e</span>
    <span class="m-left">s</span>
    <span class="m-left">i</span>
    <span class="m-left">g</span>
    <span class="m-left">n</span>
    <span class="m-left">e</span>
    <span class="m-left">r</span>
    <span class="m-left">.</span>
  </h1>

  <p><code>HTML5&CSS3</code> / <code>JavaScript</code> / <code>React</code></p>
</div>
